{% extends 'base.html.twig' %}

{% block body %}

    <h1>Edit item</h1>

    <hr>

    {{ form_start(myForm, {'attr': {'id': 'item'}}) }}

    <div class="form-group {% if not myForm.integerNum.vars.valid %}has-error{% endif %}">
        {{ form_row(myForm.integerNum) }}
    </div>

    <div class="form-group {% if not myForm.numberNum.vars.valid %}has-error{% endif %}">
        {{ form_row(myForm.numberNum) }}
    </div>

    <div class="form-group {% if not myForm.floatNum.vars.valid %}has-error{% endif %}">
        {{ form_row(myForm.floatNum) }}
    </div>

    <div class="form-group {% if not myForm.moneyNum.vars.valid %}has-error{% endif %}">
        {{ form_row(myForm.moneyNum) }}
    </div>

    <div class="form-group {% if not myForm.rangeNum.vars.valid %}has-error{% endif %}">
        {{ form_row(myForm.rangeNum) }}
    </div>

    <div class="form-group {% if not myForm.dateField.vars.valid %}has-error{% endif %}">
        {{ form_row(myForm.dateField) }}
    </div>

    {{ form_end(myForm) }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/datetime.js') }}"></script>

{% endblock %}